<!--About Section-->
    <section id="history" class="my-nav-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">History</h2>
                    <h3 class="section-subheading text-muted">Inspiration behind stephanie.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Inspired by Jarvis</h4>
                                    <!--<h4 class="subheading">Our Humble Beginnings</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        The initial idea came from Jarvis as shown in iron-man movies, a kind of all-in-one
                                        virtual assistant software, which laid the foundations to build this software.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jasper Project</h4>
                                    <!--<h4 class="subheading">An Agency is Born</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Jasper Project hosted in github also helped me to clear out some doubts,
                                        and helped me in further understanding of the assistant management software, inspiring me to build stephanie from scratch to incoporate it's usage using minimal hardware and software requirements unlike using Rasberry PI and a better library to integrate with developers.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Concerns Toward Privacy</h4>
                                    <!--<h4 class="subheading">Transition to Full Service</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Even though there are some amazing assitants like Siri, Cortana and so on, I felt that there was a need
                                        for an open-source project so that privacy of users stays intact, and stephanie provides a robust layer with
                                        'wake-up-engine' setting to reduce privacy concerns to a huge extent.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/opensource.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Developer API</h4>
                                    <!--<h4 class="subheading">Phase Two Expansion</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Stephanie provides a stupidly simple API which could be used by other developers to make their own modules, or even
                                        inject 3rd party modules made by other developers by following some really easy conventions. I'd rather call Stephanie more of a framework than an application because of it's really simply API.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Ultimate Goal</h4>
                                    <!--<h4 class="subheading">Transition to Full Service</h4>-->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        The Ultimate goal of this project is to create a general awareness among all sorts of people
                                        irrespective of their career background to get them interested in 'building something cool',
                                        that's why installation is made quite simpler but not the simplest to help general public learn
                                        programming in a very different way where they could feel they are making something cool.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Help
                                    <br>It Grow
                                    <br>Together!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
