    <!-- Header -->
    <header>
        <div id="home" class="container">
            <div class="intro-text" style="padding-top: 200px;">
                <div class="row">
                <div class="intro-heading">Your virtual assistant!</div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" 
                            src="https://www.youtube.com/embed/1ZMDV1ncSWo?rel=0&showinfo=0&autohide=1"
                            frameborder="1" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-top: 100px">
                        <div class="intro-lead-in">How may I help you today?</div>
                        <a href="documentation" class="btn btn-primary">learn how to set it up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
