<!-- Services Section -->
    <section id="about" class="my-nav-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted" style="font-size: 25px">
                        Stephanie is an open-source platform built specifically for voice-controlled application as well as
                        to automate daily tasks imitating much of an virtual assistant's work.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/about/speak.png" width="180" alt="">
                    <h4 class="service-heading">Control with your voice.</h4>
                    <p class="text-muted">
                        Use your voice to ask for information, update social networks, get weather updates, live football scores, movies information
                        restaurant suggestions, writing a note, or even chit-chatting for fun, and many more.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="img/about/mic.png" width="180" alt="">
                    <h4 class="service-heading">Listening to your voice</h4>
                    <p class="text-muted">
                        Stephanie can be configured to various levels of listening to ensure your privacy stays intact, as well as can be used with any audio recording device
                        such as inbuilt voice recorder or even connect your phone to use it as voice capturing device, I personally use bluetooth voice recorder.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="img/about/opensource.png" width="180" alt="">
                    <h4 class="service-heading">Completely open source</h4>
                    <p class="text-muted">
                        Take the actual code, and transform it to any form as needed, can be configured to use with any kind of minimal device, or
                        just write your own modules to extend the functionality of the application using simple as f*** guide.
                    </p>
                </div>
            </div>
        </div>
    </section>
