<!-- Team Section -->
    <section id="team" class="bg-light-gray my-nav-tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.about_me.nickname }}</h2>
                    <h3 class="section-subheading text-muted">
                        {{ site.about_me.subtitle }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/me.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ site.about_me.name }}</h4>
                        <p class="text-muted">{{ site.about_me.motto }}</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="{{ site.about_me.quora_link }}"><i class="fa fa-question-circle"></i></a>
                            </li>
                            <li><a href="{{ site.about_me.facebook_link }}"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="{{ site.about_me.github_link }}"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="section-heading">
                        <h3>{{ site.about_me.title }}</h3>
                        <p class="section-heading" style="font-weight: bold;">
                            {{ site.about_me.todo }}
                        </p>
                        <p class="section-subheading">
                            {{ site.about_me.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <blockquote class="quote-card">
                <p>
                    Learn to enjoy every minute of your life. Be happy now.
                    Don't wait for something outside of yourself to make you happy in the future.
                    Think how really precious is the time you have to spend,
                    whether it's at work or with your family. Every minute should be enjoyed and savored.
                </p>
                <cite>
                    Earl Nightingale
                </cite>
            </blockquote>
        </div>
    </section>
