<!DOCTYPE html>
<html>

    {% include head.html %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <style>
        .my-brand {
            color: #fed136 !important;
            font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
        }
        .my-color {
            background-color: #222; !important;
            border-color: #fed136 !important;
        }
        .my-color:focus {
            background-color: #fed136 !important;
            border-color: white !important;
        }
        .my-color:hover {
            background-color: #fed136 !important;
            border-color: white !important;
        }
    </style>

    <body id="page-top" class="index">
        <nav class="navbar navbar-inverse" style="background-color: #222">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed my-color" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand my-brand" href="/stephanie/#home">Stephanie</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/stephanie/">Home</a></li>
                        <li class="active"><a href="#" style="background-color: #fed136">Documentation</a></li>
                        <li><a href="/github">Github</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <ul class="list-group">
                        {%if page.currentpage == "home" %}
                            <a href="/stephanie/documentation" class="list-group-item active">Home</a>
                        {% else %}
                            <a href="/stephanie/documentation" class="list-group-item">Home</a>
                        {% endif %}
                        {%if page.currentpage == "installation" %}
                            <a href="/stephanie/documentation/installation" class="list-group-item active">Installation</a>
                        {% else %}
                            <a href="/stephanie/documentation/installation" class="list-group-item">Installation</a>
                        {% endif %}
                        {%if page.currentpage == "configuration" %}
                            <a href="/stephanie/documentation/configuration" class="list-group-item active">Configuration</a>
                        {% else %}
                            <a href="/stephanie/documentation/configuration" class="list-group-item">Configuration</a>
                        {% endif %}
                        {%if page.currentpage == "modules" %}
                            <a href="/stephanie/documentation/modules" class="list-group-item active">Modules</a>
                        {% else %}
                            <a href="/stephanie/documentation/modules" class="list-group-item">Modules</a>
                        {% endif %}
                        {%if page.currentpage == "usage" %}
                            <a href="/stephanie/documentation/usage" class="list-group-item active">Usage</a>
                        {% else %}
                            <a href="/stephanie/documentation/usage" class="list-group-item">Usage</a>
                        {% endif %}
                        {%if page.currentpage == "developer" %}
                            <a href="/stephanie/documentation/developer" class="list-group-item active">Developers API</a>
                        {% else %}
                            <a href="/stephanie/documentation/developer" class="list-group-item">Developers API</a>
                        {% endif %}
                            <a href="/stephanie/documentation/resources" class="list-group-item">Resources</a>
                        {%if page.currentpage == "license" %}
                            <a href="/stephanie/documentation/license" class="list-group-item active">License</a>
                        {% else %}
                            <a href="/stephanie/documentation/license" class="list-group-item">License</a>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-sm-10">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include footer.html %}
        {% include js.html %}

    </body>
</html>
